<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Halsey Settings</title>
    <link rel="stylesheet" href="/settings_style.css" />
  </head>
  <body>
    <div id="popup" class="hidden">
      <!-- populated by js -->
    </div>
    <div id="main_content">
      <div class="navbar row">
        <img class="navbar-item" src="/halsey_pfp.png" alt="Halsey PFP" id="pfp"/>
        <h1 class="navbar-item">Halsey Settings</h1>
        <div class="navbar-item" id="guild_dropdown">
          <button class="button" id="guild_dropdown_button">
            Select Guild ▾
          </button>
          <div class="hidden" id="guild_dropdown_content">
            <!-- populated by js -->
          </div>
        </div>
        <button class="navbar-item button" id="update_commands_button">
          Update Commands
        </button>
      </div>
      <div id="commands">
        <!-- populated by js -->
      </div>
    </div>
    <script src="/settings_renderer.js"></script>
  </body>
</html>
